div{
    padding: 2em;
    font-size: smaller;
    width: auto;
    text-align: left;
}
div ul{
    margin-top: 2vh;
    margin-bottom: 5vh;
    margin: 0;list-style-type: circle;
}

div ul li{
    padding-left:0 ;
    margin-left: 0;
    text-indent: -10px;
}
button{
    margin-top: 10vh;
}