.row{
    padding: 0;
}
table{
    table-layout: fixed;
   
    margin-top: 10px;
    padding: 0;
    word-spacing: normal;
    word-break: keep-all;
    
}
#summaryTable{
    margin-top: 10vh;
    margin-bottom: 10vh;
}
#summaryTable td{
    font-size: large;
}

thead{
    text-align: center;
    
}
th{
    text-align: center;
    font-size: x-small;
   
}
tbody > tr{
    text-align: center;
    font-size: x-small;
    font-weight: 700;
    line-height: 3em;
   
}


.table-hover tbody tr:hover{
    color: #17223B;
}
#districtTable thead tr th{
    position: sticky;
    top: 6vh;
    background-color: whitesmoke;
    font-size: smaller;
    
}

button{
    margin-left: 1vw;
    background-color: transparent;
}