table{
    width: 100%;
   margin-top: 10vh;
    
}
#summaryTable{
    margin-top: 10vh;
    margin-bottom: 10vh;
}
#summaryTable td{
    font-size: 3vw;
}
thead{
    text-align: center;
}
th{
    text-align: center;
}
tbody > tr{
    text-align: center;
}


.table-hover tbody tr:hover{
    color: #17223B;
}