div {
    height: 100%;
    width: 100%;
    text-align: center;
    display: block;
}

div #loader{
    width: 30px;
    height: 30px;
    border-radius : 50%;
    background-color: red;
    position: relative;
    animation-name: loader;
    animation-duration: 4s;
    animation-iteration-count: infinite;
     
  }
  
  @keyframes loader {
    0%   {background-color:red; left:50px; top:0px;}
    25%  {background-color:yellow; left:250px; top:0px;}
    50%  {background-color:blue; left:250px; top:200px;}
    75%  {background-color:green; left:50px; top:200px;}
    100% {background-color:red; left:50px; top:0px;}
  }