/* @media screen and (max-width: 300px){
    label{
        font-size: large;
        color: white;
    }

    ul li a{
        text-decoration: none;
        color: red;
        font-size:large;
    }
}


.container-fluid{
    margin-bottom: 20vh;
}

ul li{
    display: inline-block;
    
}



ul{
    margin-top: 5vh;
}*/

 /* div.sticky{
    position:sticky;
    top:0;
    z-index: 1000; 
    
} */



ul li a{
    text-decoration: none;
    
    font-size:medium;
} 

ul li a:hover{
    color:gainsboro;
}


nav{
    background:transparent;
    border: 0;
    border-width: 0;
    
    font-size: medium;
}

 button{
    background-color: gray;
}