 @media screen and (max-width: 300px){
  
}

/*
.container-fluid{
    margin-bottom: 20vh;
}

ul li{
    display: inline-block;
    
}



ul{
    margin-top: 5vh;
}*/

 div.sticky{
    position:sticky;
    top:0;
    z-index: 100; 
    background-color: #17223B;
}
nav.sticky{
    position:sticky;
    top:0;
    z-index:100; 
    background: transparent;
    }



ul li a{
    text-decoration: none;
    font-size:medium;
    color: white;
} 

ul li a:hover{
    color:gainsboro;
}

nav{
    background:transparent;
    border: 0;
    border-width: 0;
    font-size: medium;

}
#myNavbar{
    background-color: #17223B;
}
 button{
    background-color: transparent;
    height: 5vh;
}