<app-loading  *ngIf="!isDataLoaded" ></app-loading>
<div class="row col-md-6 col-md-offset-3" style="height: 100%;" *ngIf="isDataLoaded">
        
                <div class="container-fluid" style="width: 90%;">
                    <strong>STAY HOME <span style="color: royalblue;">SAVE LIVES</span></strong>
                <input id="searchInput" class="form-control" placeholder="Search State..." >
                <p>{{date | date:'medium'}}</p>
            </div>
            
            
                <table id="summaryTable" class="table table-condensed w-auto" >
                    <thead>
                        <tr>
                            <th style="color: orangered;" >Confirmed</th>
                            <th style="color: royalblue;">Active</th>
                            <th style="color: green;" >Recovered</th>
                            <th style="color: gray;">Deceased</th>
                    </tr>
                    </thead>
                    <tbody *ngFor="let t of total">
                        <tr >
                            <td style="color: orangered;"><div>{{t.confirmed}}<p *ngIf="t.deltaConfirmed!=0" style="font-size: small;">&uarr;{{t.deltaConfirmed}}</p></div></td>
                            <td style="color: royalblue;" ><div style="height: 11.5vh;">{{t.active}}</div></td>
                            <td style="color: green;" ><div>{{t.recovered}}<p *ngIf="t.deltaRecovered!=0" style="font-size: small;">&uarr;{{t.deltaRecovered}}</p></div></td>
                            <td style="color: gray;"><div>{{t.deceased}}<p *ngIf="t.deltaDeaths!=0" style="font-size: small;">&uarr;{{t.deltaDeaths}}</p></div></td>
                        </tr>
                        <tr>
                            <td style="font-size: small;" colspan=4>Last updated at:{{t.lastUpdated}}</td>
                        </tr>
                    </tbody>
                   
                </table>
           
        

    <table class="table table-hover" id="stateTable">
        
        <thead >
            <tr>
            <th style="color: black;">State/UT</th>
            <th style="color: orangered;">Confirmed</th>
            <th style="color: royalblue;">Active</th>
            <th style="color: green;">Recovered</th>
            <th style="color: black;">Deceased</th>
        </tr>
        </thead>
    
        <tbody *ngFor="let state of statewiseTemp" >
            <tr href="#" (click)="getStateDetails(state.name, state.confirmed,state.deltaConfirmed, state.active, state.recover, state.deltaRecovered, state.deceased,state.deltaDeaths, state.lastUpdated)">
                
                <td style="text-align: left;">{{state.name}}</td>
                <td style="text-align: right;"><strong *ngIf="state.deltaConfirmed!=0" style="font-size: small; color: red;">&uarr;{{state.deltaConfirmed}}&nbsp;</strong>{{state.confirmed}}</td>
                <td>{{state.active}}</td>
                <td style="text-align: right;" ><strong *ngIf="state.deltaRecovered!=0" style="font-size: small; color: green;">&uarr;{{state.deltaRecovered}}&nbsp;</strong>{{state.recover}}</td>
                <td style="text-align: right;"><strong *ngIf="state.deltaDeaths!=0" style="font-size: small; color: gray;">&uarr;{{state.deltaDeaths}}&nbsp;</strong>{{state.deceased}}</td>
           
            </tr>
        </tbody>
    </table>



</div>

