@media only screen and (max-width: 600px){
    #stateTable thead tr th {
        top: 5vh!important;
    }
}

.row{
    padding: 0;
}

input{
    margin-top: 5vh;
    margin-bottom: 5vh;
}
#summaryTable{
    margin-top: 5vh;
    margin-bottom: 10vh;
}
#summaryTable td{
    font-size: large;
}
#summaryTable thead th{
    font-size: smaller;
}
table{
    table-layout: fixed;
   
   margin-top: 10px;
   padding: 0;
   word-spacing: normal;
   word-break: keep-all;
   
}

   
   
    

thead{
    text-align: center;
    
}
th{
    text-align: center;
    font-size: x-small;
   
}
tbody > tr{
    text-align: center;
    font-size: x-small;
    font-weight: 700;
    line-height: 3em;
   
}

.table-hover tbody tr:hover{
    color: #17223B;
    background-color: whitesmoke;
}

#stateTable thead tr th{
    position: sticky;
    top: 8vh;
    background-color: whitesmoke;
    font-size: smaller;
    
}