<div class="row" style="display: inline-block;">
<google-chart style="float: left; background-color: black" [dynamicResize]="dynamicResize" [width]="400" [height]="300" [title]="title" [type]="type" [data]="data" [columns]="columnNames" [options]="options">
</google-chart>
 <!-- <google-chart [title]="title" style="float: left;" [type]="type" [data]="data" [columns]="columnNames" [options]="options">
</google-chart> -->
</div>
<!-- <google-chart [title]="title" [type]="type" [data]="data" [columns]="columnNames" [options]="options">
</google-chart>
<google-chart [title]="title" [type]="type" [data]="data" [columns]="columnNames" [options]="options">
</google-chart> -->