<div class="row"><label>INDIA COVID-19 Statistics</label></div>

<div class="row" style="display: inline-block; text-align: center;">
   <div class="lineChart">
<google-chart style="float: left;"  [width]="340" [height]="200" [title]="title" [type]="type" [data]="confirmedData"  [options]="confirmedOptions">
</google-chart>
</div>

<div class="lineChart">
 <google-chart style = "float: left;" title="People Recovered" [width]="340" [height]="200"[type]="type" [data]="recoveredData"  [options]="recoveredOptions">
</google-chart>
</div>
<div class="lineChart">
<google-chart style = "float: left;" title="Deceased People" [width]="340" [height]="200" [type]="type" [data]="deceasedData"  [options]="deceasedOptions">
</google-chart>
</div>

</div>
<div class="row">
<!-- <google-chart  title="Infection Ratio by Gender"  type ="PieChart" [data]="infectionRatioByGender" [columnNames]="columnNames" [options]="pieChartOptions"  [width]="350" [height]="200">
</google-chart> -->

<!-- <google-chart #chart
   title="Infection Ratio by Gender"
   type="PieChart"
   [data]="data"
   
   [options]="pieChartOptions"
   [width]="width"
   [height]="height">
</google-chart> -->

</div>



<!-- <google-chart [title]="title" [type]="type" [data]="data" [columns]="columnNames" [options]="options">
</google-chart>
<google-chart [title]="title" [type]="type" [data]="data" [columns]="columnNames" [options]="options">
</google-chart> -->