@media only screen and (max-width: 600px) {
  div.chartContainer{
       text-align: center!important;
       margin-top: 5vh!important;
       margin-left: 1vw!important;
       float: none!important;
    }
    .chartDiv{
        text-align: center!important;
    }
    #label{
      top : 5vh!important;
    }
  
  }

div.chartDiv{
  display: inline-block;
  text-align: center;
}

div.chartContainer{
  background-color: transparent;
 text-align: center;
 align-items: center;
 border-radius: 5px;
 padding: 10px;
 margin-top: 20px;
 float: left;
 width: fit-content;
}



div.pieChartDiv{
  margin-top: 10vh;
  display: inline-block;
}