@media only screen and (max-width: 600px) {
    google-chart{
       text-align: center!important;
       margin-top: 5vh!important;
       margin-left: 1vw!important;
       float: none!important;
    }
    .chartDiv{
        text-align: center!important;
    }
  
  }

div.chartDiv{
  display: inline-block;
  text-align: center;
}


google-chart{
       float: left;
       margin-left: 1vw;
       

}


div.pieChartDiv{
  margin-top: 10vh;
  display: inline-block;
}